body{
	background-color:#f8f8f8;
	text-align:center;
}
.book-library{
	background-color:#ffffff;
	box-sizing:border-box;
	box-shadow:1px 1px 1px 1px grey;
}
h2{
	text-align:left;
	margin-left:5%;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
}
.author-name{
	color:#777777;
	text-align:left;
	margin-left:5%;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
}
.price-block{
	background-color:#2ecc71;
	color:white;
	margin-left:5%;
	margin-bottom:10px;
	max-width:90%;
	
}